{% load static %}

<div class='container3'>
  <a class="sohead" href='/' >somame.com</a>
  <div class="navbar" layout="row">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href='/'>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact/">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about/">Check us out!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/form/">Sign Up!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/deals/">Somame News!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/location/">Location</a>
    </li>
  </ul>
  </div>
</div>
